	<div class="popup" style="width: 95%;">
		<h7>DRAFT RESULTS
		<a class="close" href="/">&times;</a></h7>
		<div class="content box1">
			<table class="draft" rules="cols" bordercolor="gray"> 
				<thead> 
					<tr> 
						<th width="4%"><h2>Round</h2></th> 
						<th width="8%"><h2>Pavai</h2></th> 
						<th width="8%"><h2>Gunjan</h2></th> 
						<th width="8%"><h2>Jae</h2></th> 
						<th width="8%"><h2>Kyle</h2></th>
						<th width="8%"><h2>Steve</h2></th> 
						<th width="8%"><h2>Hirsh</h2></th> 
						<th width="8%"><h2>Pramod</h2></th> 
						<th width="8%"><h2>Iris</h2></th> 
						<th width="8%"><h2>Tesh</h2></th>
						<th width="8%"><h2>Victor</h2></th> 
						<th width="8%"><h2>Dipal</h2></th> 
						<th width="8%"><h2>Anand</h2></th> 
					</tr> 
				</thead> 

				<tbody> 
					<tr> <!-- Round 1 -->
						<td><h2>1</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 2 -->
						<td><h2>2</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 3 -->
						<td><h2>3</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 4 -->
						<td><h2>4</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 5 -->
						<td><h2>5</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 6 -->
						<td><h2>6</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 7 -->
						<td><h2>7</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 8 -->
						<td><h2>8</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 9 -->
						<td><h2>9</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 10 -->
						<td><h2>10</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 11 -->
						<td><h2>11</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 12 -->
						<td><h2>12</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 13 -->
						<td><h2>13</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 14 -->
						<td><h2>14</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
					<tr> <!-- Round 15 -->
						<td><h2>15</h2></td> 
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
						<td><h1>First Name, Last Name</h1></td>
					</tr>
	
				</tbody> 
			</table> 
	</div>
</div>
