<div class="box"> 
	<h3>MORE FANTASY THAN FOOTBALL 2015</h3>
	<p>
		<i>*New Name Needed</i>
	</p>
</div>
	<!--<br class="clear" />-->

	
<%= link_to draft2015_path do %>
	<div class="box2" style="top: 22%; left: 10%; padding: 14px;">
		<h4>
			DRAFT
			</br>
			RESULTS
		</h4>
	</div>
<% end %>